#sublayer_face_stats {
    text-align: center;
    display: grid;
    grid-template-columns: 34% 33% 33%;
}

#sublayer_face_abilities {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

#table_face_abilities {
    text-align: center;
}