.layer_abiscores_skills {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.block_abiscores {
    text-align: center;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
}

.block_skills {
    text-align: center;
    display: block;
    border: 1px solid #ccc;
}